# Advabced Python: Bike Sharing Prediction with DASK
## Individual Assignment
By Alejandro Fern√°ndez Campos

In [1]:
#Import libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import missingno as msno
from sklearn.metrics import r2_score
import dask.dataframe as dd 
import dask.array as da
from dask.distributed import Client 
import sklearn
import dask_ml

Start reading data with Dask

In [2]:
hour_dd = dd.read_csv(
    "./hour.csv")

In [3]:
hour_dd

Dask DataFrame Structure:
              instant  dteday season     yr   mnth     hr holiday weekday workingday weathersit     temp    atemp      hum windspeed casual registered    cnt
npartitions=1
                int64  object  int64  int64  int64  int64   int64   int64      int64      int64  float64  float64  float64   float64  int64      int64  int64
                  ...     ...    ...    ...    ...    ...     ...     ...        ...        ...      ...      ...      ...       ...    ...        ...    ...
Dask Name: from-delayed, 3 tasks